#encabezado {
    background-image: url('../images/apple-pie.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.descripcion {
 padding-left: 10%;
 padding-right: 10%;
 text-align: justify;
}

.titulo {
    text-align: center;
    vertical-align: center;
    color: white;
    padding: 20% 20%;
}

.iconografia-ingredientes {
    text-align: center;
}
